<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css" />
    <title>Make-React-App</title>
  </head>
  <body>
    <div id="root"></div>

    <!-- You can add custom webfonts, images, etc here -->
    
    <!-- Link to the production bundle JS, you can add versioning here through the build system -->
    <script src="/public/bundle.js"></script>
  </body>
</html>
